@import url(https://fonts.googleapis.com/css?family=Didact+Gothic|Comfortaa:400,700&subset=latin,cyrillic);
html,
body {
    margin: 0;
    
    font-size: 10px;
    padding: 0;
    height: 100vh;

}


.clearfix {
    
}

.nav-ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav-link {
	font-family: 'Didact Gothic', sans-serif;
    text-decoration: none;
    color: #cfe2e3;
    font-size: 1.8rem;
    font-weight: 100;
}

.nav-bar {
    background-color: #4b7e81;
    padding: 0;
    margin: 0;
}

.nav-item {
    padding: 15px;

}
#logo{
	width: 70px;
	padding: 10px 70px 5px 30px;
}
 h1{
 	font-family: 'Comfortaa', cursive ;
	color: #000000;
	font-size: 5rem;
	padding: 40px 0 0px 10px;
	margin: 0;	
}
p{
	font-size: 1.7rem;
	font-family: 'Didact Gothic', sans-serif;

}
.p-wrapper{
	background-color:#FFF3CD ;
	padding: 1px 1px 1px 10px;
	margin: 10px;
	border-radius: 10px;
}
.p-text{
	background-color: #E9ECEF;
	padding: 20px 20px 5px 20px;
	margin: 20px;
	border-radius: 10px;
}
section{
	margin-top: 70px;
}
.p-desc{
	padding-left: 13px;
}
.nav-item:hover{
	background-color:#5d9ca0;
	cursor: pointer;
	transition: 1s;
}
table{
	table-layout: fixed;

    width: 97%;
    font-family: "Arial", sans-serif;
    font-size: 1.3rem;
    border-collapse: collapse;
    margin:auto;
    margin-bottom: 70px;
    font-weight: 500;

   
}
tr{
    border: 2px solid #BDB39F;
    padding-left: 3px;
    text-align: left;

}

tr:nth-child(odd) {
  background: white;
}
tr:nth-child(even) {
  background: #F2F2F2;
}
tr:hover{
	background-color: #e0dbdb;
	
}
.main-table{
	 
}
td:nth-child(odd){
	
}	
td,th{
	padding: 7px;
	

}
.a-key{
		text-decoration: none;
		cursor:pointer;
		font-weight: 600;
		color: #007BFF;
}
.a-key:hover{
	text-decoration: underline;
}

footer{
	
	background-color:#4b7e81 ;
	height: 10vh;

}
.tx-class{
	font-size: 1.4rem;
	font-weight: 700;
	color: #EDB303;
}
td{
	overflow: hidden;
	color: #007BFF;
}

.bit-bal{
	font-size: 1.4rem;
	font-weight: 700;
	color: #007BFF;
}
.private-class{
	color: #8C0F0F;
	text-decoration: none;
	display: inline;
}
.private-class:hover{
	text-decoration: underline;
}
.second-section{
	font-size: 20px;
}
.info-content{
	padding-left: 30px;
}
#id-bt{
	color:#007bff;
}
h3{
	color: #EE758C;
}
h2{
	margin: 5px;
	color :#5B4C70;
}
.abt-avatar{
height: 230px;
padding-bottom: 10px;
padding-top: 20px;
}
.about-section{
	margin: 0;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	justify-content: center;
	font-family: 'Didact Gothic', sans-serif;
	font-size: 1.8rem;
	font-weight: 700;

}
figurcaption p{
	width: 250px;
	padding-left: 20px;
}
.bio{
	font-weight: 400;
	height: 120px;
}
figure p{
	margin: 0;
}
p a{
	vertical-align: top;
	padding-left: 10px;
}
